---
import BaseLayout from '../layouts/LO_BASE.astro';
---

<BaseLayout title="404"> 
    <div class="fourohfour-wrapper page-wrapper">
        <h1>Oops! This page does not exist.</h1>
        <p><a href="/">Return to the homepage here.</a></p>
    </div>
</BaseLayout>

<style>
    .fourohfour-wrapper {
        max-width: 900px;
        margin: 1rem;
    }

    @media screen and (min-width: 600px)
    {
        .fourohfour-wrapper {
            padding: 0 1rem;
            margin: 1rem auto;
        }
    }
</style>